<div class="users-head__td has-label rc-select" ng-if="showedFilters.indexOf('<%= fieldConfig.name; %>') > -1<%- isInitField ? ' || true' : ''; %>" style="min-width: 200px;">
  <label translate><%= fieldConfig.label %></label>
  <a ng-click="removeShowedFilter('<%= fieldConfig.name; %>')" class="remove-filter-field">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="9887.563 -13109.671 11.875 10.342">
      <g id="Group_2373" data-name="Group 2373" transform="translate(8342 -13760)">
        <g id="Group_1172" data-name="Group 1172" class="cls-1" transform="translate(5 7)">
          <line id="Line_297" data-name="Line 297" class="cls-2" x2="10" y2="8" transform="translate(1541.5 644.5)"></line>
          <line id="Line_298" data-name="Line 298" class="cls-2" y1="8" x2="10" transform="translate(1541.5 644.5)"></line>
        </g>
      </g>
    </svg>
  </a>
  <select class="form-control chosen-select" chosen multiple="multiple" data-placeholder=" " class="form-control" ng-model="searchFilterModel['<%= fieldConfig.name; %>'].values" id="<%= fieldConfig.module %>_dropdown_filter_<%= fieldConfig.name %>">
    <% options.forEach(function(option){ %>
    <option value="<%= option.value %>" translate><%= option.label %></option>
    <% }); %>
  </select>
</div>
