<div class="col-<%= fieldConfig.colSize %>">
  <div class="contact-adding__item custom-address">
    <label class="contact-adding__item-label <% if (fieldConfig.isRequired) { %>is-required<% } %>" translate><%= fieldConfig.label %></label>
    <% if (fieldConfig.hasTooltip) { %>
    <span class="b-r-xl" tooltip-placement="top" uib-tooltip-template="'/api/customField/tooltip/<%= fieldConfig.module %>/<%=fieldConfig.name %>?_=<%= Date.now() %>'"><i class="fa fa-info-circle"></i></span>
    <% } %>
    <div class="contact-adding__item-body">
      <div class="row">
        <div class="col-12">
          <input type="text" class="form-input form-adding__input" ng-model="formModel.<%= fieldConfig.name %>.street" placeholder="{{'Street' | translate}}">
        </div>
        <div class="col-4">
          <input type="text" class="form-input form-adding__input" ng-model="formModel.<%= fieldConfig.name %>.zip" placeholder="{{'Zip code' | translate}}">
        </div>
        <div class="col-8">
          <input type="text" class="form-input form-adding__input" ng-model="formModel.<%= fieldConfig.name %>.city" placeholder="{{'City' | translate}}">
        </div>
        <% if (default_language !== "fr") { %>
        <div class="col-12">
                  <input type="text" class="form-input form-adding__input" ng-model="formModel.<%= fieldConfig.name %>.state" placeholder="{{'Region/State' | translate}}">
                </div>
        <% } %>
        <div class="col-12 rc-select">
          <countries-list>
                  <select ng-init="!formModel.<%= fieldConfig.name %>.country && (formModel.<%= fieldConfig.name %>.country='')" class="form-control chosen-select" ng-model="formModel.<%= fieldConfig.name %>.country" chosen data-placeholder=" " ng-options="country.code as country | mlValue : '' : 'name' for country in countriesCustomFieldList">
                    <option value=""></option>
                  </select>
                </countries-list>
        </div>
      </div>
    </div>
  </div>
</div>

