<div class="col-<%= fieldConfig.colSize %>" ng-controller="CustomImageFieldCtrl" ng-init="fieldName='<%= fieldConfig.name %>'" <% if (fieldConfig.minHeigth) { %> style="min-height: <%= fieldConfig.minHeigth  %>px;" <% } %>>
  <label class="contact-adding__item-label <% if (fieldConfig.isRequired) { %>is-required<% } %>" translate><%= fieldConfig.label %></label>
      <% if (fieldConfig.hasTooltip) { %>
      <span class="b-r-xl" tooltip-placement="top" uib-tooltip-template="'/api/customField/tooltip/<%= fieldConfig.module %>/<%=fieldConfig.name %>?_=<%= Date.now() %>'"><i class="fa fa-info-circle"></i></span>
      <% } %>
  <div class="m-b-md">
    <% if (hasPreview && hasCrop) { %>
    <img ng-if="!formModel.<%= fieldConfig.name %>.tempFile && formModel.<%= fieldConfig.name %>.croppedImage" ng-src="{{formModel.<%= fieldConfig.name %>.croppedImage}}" style="max-height: 255px; margin-bottom: 10px;" class="img-circle">
    <img ng-if="!formModel.<%= fieldConfig.name %>.tempFile && formModel._id && !formModel.<%= fieldConfig.name %>.croppedImage && formModel.<%= fieldConfig.name %>.saved" ng-src="{{getLinkForFile(formModel.<%= fieldConfig.name %>.saved)}}" style="max-height: 255px; margin-bottom: 10px;" class="img-circle">
    <%} %>
    <% if (hasPreview && !hasCrop) { %>
      <img ng-if="!formModel.<%= fieldConfig.name %>.tempFile && formModel._id && formModel.<%= fieldConfig.name %>.saved" ng-src="{{getLinkForFile(formModel.<%= fieldConfig.name %>.saved)}}" style="max-height: 255px; margin-bottom: 10px;" class="img-circle">
      <img ng-if="formModel.<%= fieldConfig.name %>.tempFile" ng-src="{{getLinkForFile(formModel.<%= fieldConfig.name %>.tempFile)}}" style="max-height: 255px; margin-bottom: 10px;" class="img-circle">
    <% } %>
    <upload-file callback="uploadCustomImageCallback" accept=".png,.jpg,.jpeg"></upload-file>
    <validation-error field="'picture'" errors="validationErrors" data-container=""></validation-error>
  </div>
  <% if (hasCrop) { %>
    <div class="col-6">
      <div class="cropArea" ng-show="formModel.<%= fieldConfig.name %>.tempFile">
        <img-crop area-type="square" image="getLinkForFile(formModel.<%= fieldConfig.name %>.tempFile)" change-on-fly="true" result-image="croppedCustomImage"></img-crop>
      </div>
    </div>
    <div class="col-6" ng-show="formModel.<%= fieldConfig.name %>.tempFile">
      <h4 translate>Preview image</h4>
      <div class="m-b-md"><img ng-src="{{croppedCustomImage}}" /></div>
    </div>
  <% } %>
  <div class="clear"></div>
  <validation-error field="'<%= fieldConfig.name %>'" errors="validationErrors" data-container=".form-group"></validation-error>
</div>
